.main-image {
  width: 100%;
  height: 8rem;
  z-index: 0;
  overflow: hidden;
  border-bottom: 2px solid rgb(69, 100, 76);
  margin-bottom: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-image img {
  width: 7rem;
  height: 80%;
  object-fit: cover;
}

input[type='date'] {
  font-size: 24px;
  color: var(--primary-text);
  font-weight: 600;
}

.date {
  width: 15rem;
  height: 49px;
  max-width: 80%;
  border-radius: 27px;
  text-align: center;
  border: 2px solid #154854;
}

.datos-empresa {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #154854;
  color: #fff;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.datos-empresa > * {
  display: flex;
  align-items: center;
}

.datos-empresa svg {
  width: 1.5rem;
  height: 1.5rem;
}

.datos-empresa small {
  text-align: start;
}
