.total {
  margin-left: 80%;
  padding: 2rem;
  background-color: #154854;
  color: #fff;
  font-weight: 600;
  font-size: large;
}

.total p {
  margin: 0;
}

/* Responsive */
@media (max-width: 767px) {
  .total {
    margin: 0;
    width: 100%;
    min-width: 100%;
  }
}
