@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}

input {
  height: 3rem;
}

select {
  height: 3rem;
}

h1,
h2,
h5 {
  margin: 0;
}

select,
input {
  font-size: 16px;
  color: #120c38;
  font-weight: 600;
}

.add-btn {
  width: 3rem;
  height: 3rem;
  border: none;
  padding: 3px;
  background: transparent;
  cursor: pointer;
  transition: background 0.3s ease;
}

.add-btn:hover {
  background: #e3c66c;
}
