@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  margin-bottom: 2rem;
  width: 100vw;
  /* overflow: hidden; */
  height: 100%;
  margin-bottom: 2rem;
}

input {
  height: 3rem;
}

select {
  height: 3rem;
}

h1,
h2,
h5 {
  margin: 0;
}

select,
input {
  font-size: 16px;
  color: #120c38;
  font-weight: 600;
}

.add-btn {
  border: none;
  padding-top: 1rem;
  background: #e3c66c;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.add-btn:hover {
  background: #e3c66c;
}

/* 1014px */
@media (min: 1014px) {
  body {
    min-width: 100%;
  }
}
